
body {
    background-color: #f5b6f3;
    background-image: url(../images/sky2.jpeg);
}

.top {
    display:block;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color:aqua;
}

.main {
    background-color: green;
    display:block;
    width: 80%;
    position: absolute;
    top: 80px;
    left: 10%;
}
.column {
    background-image: url(../images/br_b.jpg);    
    position: absolute;
    display:block;
    width: 200px;
    height: 600px;
    border: 5px dotted yellow;
}
.column ul {
    list-style-type: none;
    color: yellow;
/*  text-transform: uppercase;*/
    line-height: 50px;
}
#left {
    left: 0px;
}

#right {
    right: 0px;
}

.bot {
    display:block;
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color:aqua;
}
