body {
    position: relative;
    
    min-height: 100%;
    width: 950px;
    margin: 0 auto;
    text-align: center;
    font: 12px 'Georgia', 'Times', serif;
    background: cornsilk;
    color: #373737;
    
}

header {
    position: relative;
    
    width: 100%;
    height: 100%;
    padding: 50px 0;

    background-color:aquamarine;
}

.main {
    position: relative;
    
    width: 100%;
    min-height: 610px;
    
    background-color: grey;
}
.column {
    position: absolute;
    
    width: 200px;
    height: 600px;
    
    border: 5px dotted yellow;
    background-image: url(../images/br_b.jpg);
}
.column ul {
    list-style-type: none;
    color: yellow;
    line-height: 50px;
}
#left {
    left: 0px;
}

#right {
    right: 0px;
}

footer {
    position: relative;
    width: calc(100%-100px);
    padding: 50px 0;

    background-color:darkturquoise;
}
