
body {
    background-color: rgb(36, 211, 21);
    margin: 0px;
}

.top {
    display:block;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #ea8d12
}

.main {
    background-color: #009dff;
    display:block;
    width: 100%;
    position: absolute;
    top: 80px;
}

.left {
    position: absolute;
    display:block;
    left: 10px;
    width: 100px;
}

.right {
    position: absolute;
    display:block;
    right: 10px;
    width: 100px;
}

.bot {
    display:block;
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #ea8d12;
}